#form1
{
	position: relative;
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 25%;

}
body
{
	color: black;
	background-color: #CDEDF6;
}
blockquote{
	border-left:0px ;
}
#heading
{
	position: relative;
	text-align: center;
}
#header
{
	position: relative;
	height: 20%;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 2%;
	background-color: #042A2B;
	margin-bottom: 5%;
}
img
{
	position: relative;
	padding-left: 30%;
	padding-bottom: 20%;
}
#footer
{
	position: relative;
	height: 20%;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 2%;
	background-color: #042A2B;	
}
#faq
{
	
	margin-left: 20%;	
	width:60%;
	padding-bottom: 1%;
}
#faqhead
{	position: relative;
	text-align: center;
	padding-top: 5%;
}
#formhead
{
	position: relative;
	text-align: center;
	margin-top:1%; 
}
#quote
{
	position: relative;
	margin-top: 5%;
	padding-top:2%;
	text-align: center;
	height: 15%;
	background-color: #042A2B;
	color: white;
	width: 50%;

}
#response
{
	display: none;
	position: relative;
	color: red;
	width: 200px;
	height:200px;
}